body {
    width: 270px;
    background-color: #f1f1f1;
    .btnClass{
        position: absolute;
        cursor: pointer;
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-image: url(../img/csSprite.png);
        transition: all .5s;
        -webkit-transition: all .5s;
    }
    .rotateToggle {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }
    .rotateToggleFull {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
    header {
        position: relative;
        border-bottom: 1px solid #000000;
        margin-bottom: 5px;
        h2 {
            margin: 10px 0px;
        }
        #listBtn{
            background-position: -37px -5px;
            top: 0;
            right: 35px;
        }
        #resetBtn {
            display: none;
            background-position: -37px -36px;
            top: 0;
            right: 35px;
        }
        #switchBtn {
            background-position: -5px -36px;
            top: 0;
            right: 3px;
        }
    }
    section {
        padding: 5px;
        max-height: 250px;
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            background-color: #ffffff;
        }
        &::-webkit-scrollbar {
            width: 6px;
            margin: 2px 4px;
            background-color: #F5F5F5;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #868686;
        }
        
        #addBtn{
            background-position: -5px -5px;
            position: fixed !important;
            bottom: 12px;
            right: 16px;
        }

        .envribbon {
            position: absolute;
            left: -5px;
            top: -1px;
            z-index: 1;
            overflow: hidden;
            width: 40px;
            height: 40px;
            text-align: right;
            span{
                font-size: 9px;
                font-weight: bold;
                color: #ffffff;
                text-align: center;
                line-height: 12px;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                width: 50px;
                display: block;
                -webkit-box-shadow: 0 3px 10px -5px #000000;
                box-shadow: 0 3px 10px -5px #000000;
                position: absolute;
                top: 9px;
                left: -12px;
                text-transform: uppercase;
                &::before {
                    content: "";
                    position: absolute;
                    left: 0px;
                    top: 100%;
                    z-index: -1;
                }
                &:after{
                    content: "";
                    position: absolute;
                    right: 0px;
                    top: 100%;
                    z-index: -1;
                }
            }
            .dev, .biz, .new {
                background: #c30101;
                background: linear-gradient(#fe3434 0%, #c30101 100%);
                &::before {
                    border-top: 3px solid #650101;
                    border-left: 3px solid #650101;
                    border-right: 3px solid transparent;
                    border-bottom: 3px solid transparent;
                }
                &::after {
                    border-top: 3px solid #650101;
                    border-left: 3px solid transparent;
                    border-right: 3px solid #650101;
                    border-bottom: 3px solid transparent;
                }
            }
            .int {
                background: #ae7829;
                background: linear-gradient(#fe8b33 0%, #ae7829 100%);
                &::before {
                    border-top: 3px solid #653801;
                    border-left: 3px solid #653801;
                    border-right: 3px solid transparent;
                    border-bottom: 3px solid transparent;
                }
                &::after {
                    border-top: 3px solid #653801;
                    border-left: 3px solid transparent;
                    border-right: 3px solid #653801;
                    border-bottom: 3px solid transparent;
                }
            }
            .qa {
                background: #2969ae;
                background: linear-gradient(#6aa1dc 0%, #2969ae 100%);
                &::before {
                    border-top: 3px solid #173c63;
                    border-left: 3px solid #173c63;
                    border-right: 3px solid transparent;
                    border-bottom: 3px solid transparent;
                }
                &::after {
                    border-top: 3px solid #173c63;
                    border-left: 3px solid transparent;
                    border-right: 3px solid #173c63;
                    border-bottom: 3px solid transparent;
                }
            }
            .prod {
                background: #48b749;
                background: linear-gradient(#98d799 0%, #48b749 100%);
                -webkit-box-shadow: 0 3px 10px -5px #000000;
                box-shadow: 0 3px 10px -5px #000000;
                &::before {
                    border-top: 3px solid #2e762f;
                    border-left: 3px solid #2e762f;
                    border-right: 3px solid transparent;
                    border-bottom: 3px solid transparent;
                }
                &::after {
                    border-top: 3px solid #2e762f;
                    border-left: 3px solid transparent;
                    border-right: 3px solid #2e762f;
                    border-bottom: 3px solid transparent;
                }
            }
        }
        #credentialsList {
            #noData{
                text-align: center;
                margin: 20px 0px;
                #addIcon{
                    width: 25px;
                    height: 25px;
                    background-repeat: no-repeat;
                    background-image: url(../img/csSprite.png);
                    background-position: -5px -5px;
                    display: inline-block;
                    transform: scale(0.6);
                    vertical-align: middle;
                }
                #emptyStore{
                    font-weight: bold;
                    font-size: 1.2em;
                    margin-bottom: 10px;
                }
            }
            .domainInfo {
                position: relative;
                padding: 5px 0px 0px 0px;
                &:first-child {
                    padding-top: 0px;
                    .envribbon:first-child{
                        top: -6px !important;
                    }
                }
                .domainName {
                    font-size: 1.2em;
                    font-weight: bold;
                    padding-left: 18px;
                    border: 1px dashed #989898;
                }
            }

            #envInfo {
                user-select: none;
                .envTabs{
                    display: inline-block;
                    padding: 2px 8px;
                    margin-right: 1px;
                    text-transform: uppercase;
                    border-radius: 0px 5px 0px 0px;
                    cursor: pointer;
                    font-size: 10px;
                    font-weight: bold;
                    color: #ffffff;
                    &:hover{
                       background: #ffffff !important;
                       color: #000000 !important;
                    }
                }   
                .default{
                    color: #000000 !important;
                    background-color: #cbcbcb !important;
                } 
                .dev, .biz, .new {
                    background: #c30101;
                }
                .int {
                    background: #ae7829;
                }
                .qa {
                    background: #2969ae;
                }
                .prod {
                    background: #48b749;
                }
            }
            .envContainer{
                display: none;
            }

            .listGroup{
                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                transition: all 0.3s cubic-bezier(.25,.8,.25,1);
                padding: 5px 10px;
                background-color: #ffffff;
                margin-bottom: 8px;
                cursor: pointer;
                &:hover {
                    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15), 0 5px 5px rgba(0, 0, 0, 0.12);
                }
                .listName {
                    font-size: 1.1em;
                    font-weight: bold;
                    text-transform: capitalize;
                    width: 80%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .listCredentials{
                    padding: 3px 0px;
                    position: relative;
                    .openTabBtn{
                        background-position: -40px -66px;
                        width: 21px;
                        height: 22px;
                        top: -24px;
                        right: 26px;
                        zoom: 0.7;
                        z-index: 999;
                        -webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
                        transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
                        &:hover{
                            transform: scale(1.3);
                        }
                    }
                    .removeBtn{
                        background-position: -8px -66px;
                        width: 20px;
                        height: 22px;
                        top: -24px;
                        right: 0;
                        zoom: 0.7;
                        z-index: 999;
                        -webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
                        transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
                        &:hover{
                            transform: scale(1.3);
                        }
                    }
                    .username, .password  {
                        display: inline-block;
                        width: 48%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                } 
            }
        }
        #storeCS {
            display: none;
            .domainInfo {
                position: relative;
                padding: 5px 0px 0px 0px;
                &:first-child {
                    padding-top: 0px;
                    .envribbon:first-child{
                        top: -6px !important;
                    }
                }
                .domainName {
                    font-size: 1.2em;
                    font-weight: bold;
                    padding: 6px 0px;
                    padding-left: 18px;
                    border: 1px dashed #989898;
                }
            }
            .inputGroup { 
                position: relative; 
                margin: 25px 0px; 
                input {
                    font-size: 1.1em;
                    padding: 5px 6px;
                    width: 95.5%;
                    border: none;
                    border-bottom: 1px solid #757575;
                    background-color: #f1f1f1;
                    &:focus { 
                        outline: none; 
                    }
                    &:focus ~ label, 
                    &:valid ~ label {
                        top: -16px;
                        font-size: 1.1em;
                        color: #37474f;
                    }
                    &:focus ~ .bar:before,
                    &:focus ~ .bar:after {
                        width: 50%;
                    }
                    &:focus ~ .highlight {
                        -webkit-animation: inputHighlighter 0.3s ease;
                        animation: inputHighlighter 0.3s ease;
                    }
                }
                .requeried{
                    &:invalid ~ label {
                        color: #e22a2a;
                    }
                    &:invalid ~ .bar:before,
                    &:invalid ~ .bar:after{
                        background-color: #e22a2a;
                    }
                }
                .bar { 
                    position: relative; 
                    display: block; 
                    width: 100%;
                    &:before, 
                    &:after {
                        content: '';
                        height: 2px; 
                        width: 0;
                        bottom: 1px; 
                        position: absolute;
                        background: #37474f; 
                        transition: 0.2s ease all; 
                        -moz-transition: 0.2s ease all; 
                        -webkit-transition: 0.2s ease all;
                    }
                    &:before {
                        left: 50%;
                    }
                    &:after {
                        right: 50%; 
                    } 
                }
                .highlight {
                    position: absolute;
                    height: 60%; 
                    width: 100%; 
                    top: 25%; 
                    left: 0;
                    pointer-events: none;
                    opacity: 0.5;
                }
                label {
                    color:#757575; 
                    font-size: 1.25em;
                    font-weight: normal;
                    position: absolute;
                    pointer-events: none;
                    left: 5px;
                    top: 0px;
                    transition: 0.2s ease all; 
                    -moz-transition: 0.2s ease all; 
                    -webkit-transition: 0.2s ease all;
                }

                @-webkit-keyframes inputHighlighter {
                    from { 
                        background: #37474f;
                    }
                    to { 
                        width: 0;
                        background: transparent;
                    }
                }
                @keyframes inputHighlighter {
                    from {
                        background: #37474f;
                    }
                    to {
                        width: 0; 
                        background: transparent;
                    }
                }
            }
            #storeBtn {
                position: relative;
                float: right;
                padding: 0;
                overflow: hidden;
                border-width: 0;
                outline: none;
                border-radius: 2px;
                box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
                background-color: #506873;
                color: #ecf0f1;
                transition: background-color .3s;
                &:hover, &:focus {
                    background-color: #37474f;
                }
                span {
                    position: relative;
                    display: block;
                    padding: 6px 12px;
                }
                &:before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    display: block;
                    width: 0;
                    padding-top: 0;
                    border-radius: 100%;
                    background-color: rgba(236, 240, 241, .3);
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }
                &:active:before {
                    width: 120%;
                    padding-top: 120%;
                    transition: width .2s ease-out, padding-top .2s ease-out;
                }
            }
        }
        #aboutCS {
            display: none;
            img {
                display: block;
                margin: auto;
            }
            #extInfo {
                margin: 10px 0px;
                text-align: center;
            }
            #extDesc {
                margin-bottom: 10px;
            }
            #extFeatures {
                div{
                    font-size: 1.2em;
                    font-weight: 500;
                }
                ul {
                    padding-left: 20px;
                    margin-top: 5px;
                }
            }
            #developedBy {
                float: right;  
                span {
                    display: block;
                }
            }
        }
    }
    footer {
        border-top: 1px solid #000000;
        margin-top: 5px;
    }
}