body {
  width: 270px;
  background-color: #f1f1f1;
}
body .btnClass {
  position: absolute;
  cursor: pointer;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-image: url(../img/csSprite.png);
  transition: all .5s;
  -webkit-transition: all .5s;
}
body .rotateToggle {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
body .rotateToggleFull {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}
body header {
  position: relative;
  border-bottom: 1px solid #000000;
  margin-bottom: 5px;
}
body header h2 {
  margin: 10px 0px;
}
body header #listBtn {
  background-position: -37px -5px;
  top: 0;
  right: 35px;
}
body header #resetBtn {
  display: none;
  background-position: -37px -36px;
  top: 0;
  right: 35px;
}
body header #switchBtn {
  background-position: -5px -36px;
  top: 0;
  right: 3px;
}
body section {
  padding: 5px;
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}
body section::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #ffffff;
}
body section::-webkit-scrollbar {
  width: 6px;
  margin: 2px 4px;
  background-color: #F5F5F5;
}
body section::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #868686;
}
body section #addBtn {
  background-position: -5px -5px;
  position: fixed !important;
  bottom: 12px;
  right: 16px;
}
body section .envribbon {
  position: absolute;
  left: -5px;
  top: -1px;
  z-index: 1;
  overflow: hidden;
  width: 40px;
  height: 40px;
  text-align: right;
}
body section .envribbon span {
  font-size: 9px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  line-height: 12px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 50px;
  display: block;
  -webkit-box-shadow: 0 3px 10px -5px #000000;
  box-shadow: 0 3px 10px -5px #000000;
  position: absolute;
  top: 9px;
  left: -12px;
  text-transform: uppercase;
}
body section .envribbon span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
}
body section .envribbon span:after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
}
body section .envribbon .dev,
body section .envribbon .biz,
body section .envribbon .new {
  background: #c30101;
  background: linear-gradient(#fe3434 0%, #c30101 100%);
}
body section .envribbon .dev::before,
body section .envribbon .biz::before,
body section .envribbon .new::before {
  border-top: 3px solid #650101;
  border-left: 3px solid #650101;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
}
body section .envribbon .dev::after,
body section .envribbon .biz::after,
body section .envribbon .new::after {
  border-top: 3px solid #650101;
  border-left: 3px solid transparent;
  border-right: 3px solid #650101;
  border-bottom: 3px solid transparent;
}
body section .envribbon .int {
  background: #ae7829;
  background: linear-gradient(#fe8b33 0%, #ae7829 100%);
}
body section .envribbon .int::before {
  border-top: 3px solid #653801;
  border-left: 3px solid #653801;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
}
body section .envribbon .int::after {
  border-top: 3px solid #653801;
  border-left: 3px solid transparent;
  border-right: 3px solid #653801;
  border-bottom: 3px solid transparent;
}
body section .envribbon .qa {
  background: #2969ae;
  background: linear-gradient(#6aa1dc 0%, #2969ae 100%);
}
body section .envribbon .qa::before {
  border-top: 3px solid #173c63;
  border-left: 3px solid #173c63;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
}
body section .envribbon .qa::after {
  border-top: 3px solid #173c63;
  border-left: 3px solid transparent;
  border-right: 3px solid #173c63;
  border-bottom: 3px solid transparent;
}
body section .envribbon .prod {
  background: #48b749;
  background: linear-gradient(#98d799 0%, #48b749 100%);
  -webkit-box-shadow: 0 3px 10px -5px #000000;
  box-shadow: 0 3px 10px -5px #000000;
}
body section .envribbon .prod::before {
  border-top: 3px solid #2e762f;
  border-left: 3px solid #2e762f;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
}
body section .envribbon .prod::after {
  border-top: 3px solid #2e762f;
  border-left: 3px solid transparent;
  border-right: 3px solid #2e762f;
  border-bottom: 3px solid transparent;
}
body section #credentialsList #noData {
  text-align: center;
  margin: 20px 0px;
}
body section #credentialsList #noData #addIcon {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-image: url(../img/csSprite.png);
  background-position: -5px -5px;
  display: inline-block;
  transform: scale(0.6);
  vertical-align: middle;
}
body section #credentialsList #noData #emptyStore {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}
body section #credentialsList .domainInfo {
  position: relative;
  padding: 5px 0px 0px 0px;
}
body section #credentialsList .domainInfo:first-child {
  padding-top: 0px;
}
body section #credentialsList .domainInfo:first-child .envribbon:first-child {
  top: -6px !important;
}
body section #credentialsList .domainInfo .domainName {
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 18px;
  border: 1px dashed #989898;
}
body section #credentialsList #envInfo {
  user-select: none;
}
body section #credentialsList #envInfo .envTabs {
  display: inline-block;
  padding: 2px 8px;
  margin-right: 1px;
  text-transform: uppercase;
  border-radius: 0px 5px 0px 0px;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  color: #ffffff;
}
body section #credentialsList #envInfo .envTabs:hover {
  background: #ffffff !important;
  color: #000000 !important;
}
body section #credentialsList #envInfo .default {
  color: #000000 !important;
  background-color: #cbcbcb !important;
}
body section #credentialsList #envInfo .dev,
body section #credentialsList #envInfo .biz,
body section #credentialsList #envInfo .new {
  background: #c30101;
}
body section #credentialsList #envInfo .int {
  background: #ae7829;
}
body section #credentialsList #envInfo .qa {
  background: #2969ae;
}
body section #credentialsList #envInfo .prod {
  background: #48b749;
}
body section #credentialsList .envContainer {
  display: none;
}
body section #credentialsList .listGroup {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 5px 10px;
  background-color: #ffffff;
  margin-bottom: 8px;
  cursor: pointer;
}
body section #credentialsList .listGroup:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15), 0 5px 5px rgba(0, 0, 0, 0.12);
}
body section #credentialsList .listGroup .listName {
  font-size: 1.1em;
  font-weight: bold;
  text-transform: capitalize;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body section #credentialsList .listGroup .listCredentials {
  padding: 3px 0px;
  position: relative;
}
body section #credentialsList .listGroup .listCredentials .openTabBtn {
  background-position: -40px -66px;
  width: 21px;
  height: 22px;
  top: -24px;
  right: 26px;
  zoom: 0.7;
  z-index: 999;
  -webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
body section #credentialsList .listGroup .listCredentials .openTabBtn:hover {
  transform: scale(1.3);
}
body section #credentialsList .listGroup .listCredentials .removeBtn {
  background-position: -8px -66px;
  width: 20px;
  height: 22px;
  top: -24px;
  right: 0;
  zoom: 0.7;
  z-index: 999;
  -webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
body section #credentialsList .listGroup .listCredentials .removeBtn:hover {
  transform: scale(1.3);
}
body section #credentialsList .listGroup .listCredentials .username,
body section #credentialsList .listGroup .listCredentials .password {
  display: inline-block;
  width: 48%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body section #storeCS {
  display: none;
}
body section #storeCS .domainInfo {
  position: relative;
  padding: 5px 0px 0px 0px;
}
body section #storeCS .domainInfo:first-child {
  padding-top: 0px;
}
body section #storeCS .domainInfo:first-child .envribbon:first-child {
  top: -6px !important;
}
body section #storeCS .domainInfo .domainName {
  font-size: 1.2em;
  font-weight: bold;
  padding: 6px 0px;
  padding-left: 18px;
  border: 1px dashed #989898;
}
body section #storeCS .inputGroup {
  position: relative;
  margin: 25px 0px;
}
body section #storeCS .inputGroup input {
  font-size: 1.1em;
  padding: 5px 6px;
  width: 95.5%;
  border: none;
  border-bottom: 1px solid #757575;
  background-color: #f1f1f1;
}
body section #storeCS .inputGroup input:focus {
  outline: none;
}
body section #storeCS .inputGroup input:focus ~ label,
body section #storeCS .inputGroup input:valid ~ label {
  top: -16px;
  font-size: 1.1em;
  color: #37474f;
}
body section #storeCS .inputGroup input:focus ~ .bar:before,
body section #storeCS .inputGroup input:focus ~ .bar:after {
  width: 50%;
}
body section #storeCS .inputGroup input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
body section #storeCS .inputGroup .requeried:invalid ~ label {
  color: #e22a2a;
}
body section #storeCS .inputGroup .requeried:invalid ~ .bar:before,
body section #storeCS .inputGroup .requeried:invalid ~ .bar:after {
  background-color: #e22a2a;
}
body section #storeCS .inputGroup .bar {
  position: relative;
  display: block;
  width: 100%;
}
body section #storeCS .inputGroup .bar:before,
body section #storeCS .inputGroup .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #37474f;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
body section #storeCS .inputGroup .bar:before {
  left: 50%;
}
body section #storeCS .inputGroup .bar:after {
  right: 50%;
}
body section #storeCS .inputGroup .highlight {
  position: absolute;
  height: 60%;
  width: 100%;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
body section #storeCS .inputGroup label {
  color: #757575;
  font-size: 1.25em;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 0px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
@-webkit-keyframes inputHighlighter {
  from {
    background: #37474f;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #37474f;
  }
  to {
    width: 0;
    background: transparent;
  }
}
body section #storeCS #storeBtn {
  position: relative;
  float: right;
  padding: 0;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: #506873;
  color: #ecf0f1;
  transition: background-color 0.3s;
}
body section #storeCS #storeBtn:hover,
body section #storeCS #storeBtn:focus {
  background-color: #37474f;
}
body section #storeCS #storeBtn span {
  position: relative;
  display: block;
  padding: 6px 12px;
}
body section #storeCS #storeBtn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, 0.3);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
body section #storeCS #storeBtn:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}
body section #aboutCS {
  display: none;
}
body section #aboutCS img {
  display: block;
  margin: auto;
}
body section #aboutCS #extInfo {
  margin: 10px 0px;
  text-align: center;
}
body section #aboutCS #extDesc {
  margin-bottom: 10px;
}
body section #aboutCS #extFeatures div {
  font-size: 1.2em;
  font-weight: 500;
}
body section #aboutCS #extFeatures ul {
  padding-left: 20px;
  margin-top: 5px;
}
body section #aboutCS #developedBy {
  float: right;
}
body section #aboutCS #developedBy span {
  display: block;
}
body footer {
  border-top: 1px solid #000000;
  margin-top: 5px;
}
